.App {
  text-align: center;
}





.App-header {
  /* background-color: #282c34; */
  min-height: 25vh;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Form-button {
  margin-left: 10px;
}

.App-body {
  min-height: 50vh;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.list-item{
  font-size: 18px;
}
